/******************************************************
 ** social-buttons.scss
 ** 
 ** LESS for Social Buttons.
 ** Developer: Ranpariya - The Development Lab - India
 ******************************************************/

/****************
 * Social Button
 ****************/
.btn-social {
  padding-left: 44px;
  text-align: left;
  :first-child{
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    width:32px;
    line-height:34px;
    font-size:1.6em;
    text-align:center;
    border-right:1px solid rgba(0,0,0,0.2);
  }
  &.btn-lg {
    padding-left: 61px;
    :first-child {
      line-height: 45px;
      width: 45px;
      font-size: 1.8em;
    }
  }
  &.btn-sm {
    padding-left: 38px;
    :first-child {
      line-height: 28px;
      width: 28px;
      font-size: 1.4em;
    }
  }
  &.btn-xs {
    padding-left: 30px;
    :first-child {
      line-height: 20px;
      width: 20px;
      font-size: 1.2em;
    }
  }
}
.btn-social-icon {
  height: 34px;
  width: 34px;
  padding-left: 0;
  padding-right: 0;
  :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
    border: none;
    text-align: center;
    width: 100% !important;
  }
  &.btn-lg {
    padding-left: 61px;
    height: 45px;
    width: 45px;
    padding-left: 0;
    padding-right: 0;
    :first-child {
      line-height: 45px;
      width: 45px;
      font-size: 1.8em;
    }
  }
  &.btn-sm {
    padding-left: 38px;
    height: 30px;
    width: 30px;
    padding-left: 0;
    padding-right: 0;
    :first-child {
      line-height: 28px;
      width: 28px;
      font-size: 1.4em;
    }
  }
  &.btn-xs {
    padding-left: 30px;
    height: 22px;
    width: 22px;
    padding-left: 0;
    padding-right: 0;
    :first-child {
      line-height: 20px;
      width: 20px;
      font-size: 1.2em;
    }
  }
}
.btn-android {
  @include socialButton($white-color, $android-color, $android-hover-color);
}
.btn-500px {
  @include socialButton($white-color, $five-hundred-px-color, $five-hundred-px-hover-color);
}
.btn-amazon {
  @include socialButton($white-color, $amazon-color, $amazon-hover-color);
}
.btn-apple {
  @include socialButton($white-color, $apple-color, $apple-hover-color);
}
.btn-chrome {
  @include socialButton($white-color, $chrome-color, $chrome-hover-color);
}
.btn-css3 {
  @include socialButton($white-color, $css3-color, $css3-hover-color);
}
.btn-empire {
  @include socialButton($white-color, $empire-color, $empire-hover-color);
}
.btn-firefox {
  @include socialButton($white-color, $firefox-color, $firefox-hover-color);
}
.btn-git {
  @include socialButton($white-color, $git-color, $git-hover-color);
}
.btn-html5 {
  @include socialButton($white-color, $html5-color, $html5-hover-color);
}
.btn-joomla {
  @include socialButton($white-color, $joomla-color, $joomla-hover-color);
}
.btn-linux {
  @include socialButton($white-color, $linux-color, $linux-hover-color);
}
.btn-opera {
  @include socialButton($white-color, $opera-color, $opera-hover-color);
}
.btn-internet-explorer {
  @include socialButton($white-color, $ie-color, $ie-hover-color);
}
.btn-safari {
  @include socialButton($white-color, $safari-color, $safari-hover-color);
}
.btn-skype {
  @include socialButton($white-color, $skype-color, $skype-hover-color);
}
.btn-wechat {
  @include socialButton($white-color, $wechat-color, $wechat-hover-color);
}
.btn-youtube {
  @include socialButton($white-color, $youtube-color, $youtube-hover-color);
}
.btn-bitbucket {
  @include socialButton($white-color, $bitbucket-color, $bitbucket-hover-color);
}
.btn-adn {
  @include socialButton($white-color, $adn-color, $adn-hover-color);
}
.btn-foursquare {
  @include socialButton($white-color, $foursquare-color, $foursquare-hover-color);
}
.btn-windows {
  @include socialButton($white-color, $windows-color, $windows-hover-color);
}
.btn-dropbox {
  @include socialButton($white-color, $dropbox-color, $dropbox-hover-color);
}
.btn-facebook {
  @include socialButton($white-color, $facebook-color, $facebook-hover-color);
}
.btn-flickr {
  @include socialButton($white-color, $flickr-color, $flickr-hover-color);
}
.btn-github {
  @include socialButton($white-color, $github-color, $github-hover-color);
}
.btn-google-plus {
  @include socialButton($white-color, $google-plus-color, $google-plus-hover-color);
}
.btn-instagram {
  @include socialButton($white-color, $instagram-color, $instagram-hover-color);
}
.btn-linkedin {
  @include socialButton($white-color, $linkedin-color, $linkedin-hover-color);
}
.btn-pinterest {
  @include socialButton($white-color, $pinterest-color, $pinterest-hover-color);
}
.btn-tumblr {
  @include socialButton($white-color, $tumblr-color, $tumblr-hover-color);
}
.btn-twitter {
  @include socialButton($white-color, $twitter-color, $twitter-hover-color);
}
.btn-yahoo {
  @include socialButton($white-color, $yahoo-color, $yahoo-hover-color);
}
.btn-vk {
  @include socialButton($white-color, $vk-color, $vk-hover-color);
}
.btn-vimeo {
  @include socialButton($white-color, $vimeo-color, $vimeo-hover-color);
}
.btn-soundcloud {
  @include socialButton($white-color, $soundcloud-color, $soundcloud-hover-color);
}
.btn-cc-paypal {
  @include socialButton($white-color, $cc-paypal-color, $cc-paypal-hover-color);
}