/**********************************************************************
 ** common-variables.scss
 ** 
 ** File contains custom scripts for Ranpariya-Admin  common-variables
 ** Developer: Ranpariya - The Development Lab - India
 **********************************************************************/

/**************
 * Main Theme
 **************/
$theme-black-color: #1E1E1E;
$white-color: #fff;
$extra-light-gray: #F7F7F7;
$light-gray: #F1F1F1;
$medium-dark-gray: #ccc;
$dark-gray: #909190;
$medium-black: #2C2B2B;
$metalic-gray: #6E6E6E;

$primary-color:#428bca; // Primary-color
$danger-color: #dd4b39; // Danger color
$info-color: #00c0ef; // Info color
$warning-color: #f39c12; // Warning color
$success-color: #00a65a; // success color

$primary-border-color: #286090; // Primary border color
$danger-border-color: #d73925; // Danger border color
$info-border-color: #00acd6; // Info border color
$warning-border-color: #e08e0b; // Warning border color
$success-border-color: #008d4c; // success border color

/****************************
 * Social Buttons variables
 ****************************/
$android-color:#a4c639;
$android-hover-color:#7CB342;
$five-hundred-px-color:#0099e5;
$five-hundred-px-hover-color:#048ECE;
$amazon-color:#ff9900;
$amazon-hover-color:#EF9002;
$apple-color:#979797;
$apple-hover-color:#898989;
$chrome-color:#4587F3;
$chrome-hover-color:#276DDD;
$css3-color:#1680C0;
$css3-hover-color:#1A77AD;
$empire-color:#000;
$empire-hover-color:#050303;
$firefox-color:#e66000;
$firefox-hover-color:#CE5804;
$git-color:#333;
$git-hover-color:#161616;
$html5-color:#e34f26;
$html5-hover-color:#CE4925;
$joomla-color:#142849;
$joomla-hover-color:#0D182B;
$linux-color:#333333;
$linux-hover-color:#050505;
$opera-color:#cc0f16;
$opera-hover-color:#BC1016;
$ie-color:#1EBBEE;
$ie-hover-color:#16A1CC;
$safari-color:#1B88CA;
$safari-hover-color:#1A77AD;
$skype-color:#00aff0;
$skype-hover-color:#069ED6;
$wechat-color:#93d034;
$wechat-hover-color:#739B31;
$youtube-color:#e52d27;
$youtube-hover-color:#BF211E;
$bitbucket-color:#205081;
$bitbucket-hover-color:#183c60;
$adn-color: #d87a68;
$adn-hover-color: #ce563f;
$foursquare-color: #f94877;
$foursquare-hover-color: #f71752;
$windows-color: #2672ec;
$windows-hover-color: #125acd;
$dropbox-color: #1087dd;
$dropbox-hover-color: #0d70b7;
$facebook-color: #3b5998;
$facebook-hover-color: #30487b;
$flickr-color: #ff0084;
$flickr-hover-color: #d6006f;
$github-color: #444;
$github-hover-color: #303030;
$google-plus-color: #dd4b39;
$google-plus-hover-color: #ca3523;
$instagram-color: #517fa4;
$instagram-hover-color: #446a89;
$linkedin-color: #007bb6;
$linkedin-hover-color: #005f8d;
$pinterest-color: #cb2027;
$pinterest-hover-color: #a81a20;
$tumblr-color: #2c4762;
$tumblr-hover-color: #1f3346;
$twitter-color: #2ba9e1;
$twitter-hover-color: #1c92c7;
$yahoo-color: #720e9e;
$yahoo-hover-color: #500a6f;
$vk-color: #587ea3;
$vk-hover-color: #4a6a89;
$vimeo-color: #1ab7ea;
$vimeo-hover-color: #1295bf;
$soundcloud-color: #f50;
$soundcloud-hover-color: #c40;
$cc-paypal-color: #2048BF;
$cc-paypal-hover-color: #253B80;

/**************
 * Mail
 * Compose mail
 **************/
$mail-option-border: #ddd;
$mail-font-color: #9F9696;

/********
 * Inbox
 ********/
$inbox-box-footer: #f4f4f4;
$inbox-background-color: #F5F5F5;
$inbox-btn-color: #D7D7D7;
$file-box-border-color: #dbdbdb;

/********
 * Font
 ********/
$open-sans: 'Open Sans', sans-serif;
$Roboto: 'Roboto', sans-serif;